<div class="main col-md-8 col-lg-offset-1 col-md-push-4 col-lg-push-3">
	<h1 class="page-title"><%= @blog.title %></h1>
	<article class="blogpost full">
	<header>
		<div class="post-info">
			<span class="post-date">
				<i class="icon-calendar"></i>
				<span class="day"><%= @blog.created_at.strftime('%d') %></span>
				<span class="month"><%= @blog.created_at.strftime('%h %Y') %></span>
			</span>
		</div>
	</header>
	<div class="blogpost-content">
		<p><%= @blog.content %></p>
	</div>
	<footer class="clearfix">
		<div class="link pull-right">
			<ul class="blog-option small margin-clear text-right">
				<li><%= link_to edit_user_blog_path(@blog) do %><i class="fa fa-edit"></i><% end %></li>
				<li><%= link_to user_blog_path(@blog), method: :delete, data: { confirm: '本当に削除してもよろしいですか？' } do %><i class="fa fa-trash-o"></i><% end %></li>
			</ul>
		</div>
	</footer>
	</article>
</div>
